<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button
    class="navbar-toggler btn btn-outline-primary"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
    (click)="isCollapsed = !isCollapsed"
    [attr.aria-expanded]="!isCollapsed"
    aria-controls="navbarTogglerDemo02"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-brand">Nasionator</div>

  <div
    class="collapse navbar-collapse"
    id="navbarTogglerDemo02"
    [ngbCollapse]="isCollapsed"
  >
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/grains" routerLinkActive="active"
          >Nasiona</a
        >
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Szukaj" />
      <button class="btn btn-outline my-2 my-sm-0" type="submit">
        <i class="bi bi-search"></i>
      </button>
    </form>

  </div>
</nav>
